@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

.hero-background {
  background: #495e57;
  padding: 150px 60px 60px;
}

.hero-container {
  display: grid;
  grid-template-columns: 6fr 4fr; 
  align-items: center;
  gap: 60px; 
  max-width: 1200px; 
  margin: auto; 
}
  
.text {
  color: white;

  .title {
    color: #f4ce14;
    font-size: 4rem;
    line-height: 0.5rem;
    font-family: 'Oswald', sans-serif;
  }

  .location {
    color: white;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
  }

  p {
    color: white;
    font-size: 1.3rem;
  }

  .cta {
    display: inline-flex;   
    align-items: center;    
    justify-content: center;
    padding: 5px 20px;
    background-color: #f4ce14;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    border-radius: 40px;
    color: #495e57;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-5px);
      background-color: #495e57;
      color: #f4ce14;
      box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.5);
      transition: all 0.2s;
    }
} 


@media screen and (max-width: 767px) {
  .hero-container {
    grid-template-areas: 
      "image"
      "text";
    grid-template-columns: 1fr; 
  }

  .image {
    order: -1; 
  }
}}