
.special {
    position: relative;
    margin: 0 100px 20px 100px ;
  }
  
  .special-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0 10px 0;
  }
  
  .header-title {
      font-size: 42px;
      line-height: 1.2;
      font-weight: 500;
      color: #495e57;
      text-transform: capitalize;
  }
  
  .cta {
      display: inline-block;
      height: 50px;
      background-color: #f4ce14;
      padding: 0 20px;
      max-width: 150px;
      width: 100%;
      font-size: 20px;
      line-height: 50px;
      font-weight: 700;
      color: #495e57;
      border-radius: 25px;
      border: none;
      text-align: center;
      outline: none;
      overflow: hidden;
      cursor: pointer;
      transition: background 0.15s;
      &:hover {
          background-color: #495e57;
          color: #f4ce14;
          transition: background 0.15s;
      }
  }
  
  .sp-items {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 40px;
    flex-wrap: wrap;
    .sp-item {
      flex: 1 1 300px;
      min-width: 260px;
      max-width: 350px;
      height: 600px;
      background-color: #f4f4f4;
      border-radius: 18px;
      overflow: hidden;
  }
}
  
  .img {
      width: 100%;
      height: 230px;
      overflow: hidden;
      &:hover {
          img {
              transform: scale(1.1);
              transition: transform 0.3s;
          }
      }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s;
          }
  }
  
  .content {
      padding: 20px ;
      line-height: 1.2;
  }
  
  .title {
      font-size: 40px;
      color: #495e57;
  }
  
  .price {
      font-size: 24px;
      color: #ee9972;
  }
  
  .info {
      font-size: 16px;
      line-height: 1.4;
      color: #495e57;
      padding-bottom: 20px;
  }
  @media (max-width: 600px) {
      .grid-items {
          grid-template-columns: 1fr; /* Switch to a single column layout */
          grid-template-areas: 
              "grid-item1"
              "grid-item2"
              "grid-item3";
      }
  }